Hexpocalipse/Library/
Hexpocalipse/Temp
Hexpocalipse/Assembly-CSharp-firstpass-vs.csproj
Hexpocalipse/Assembly-CSharp-firstpass.csproj
Hexpocalipse/Assembly-CSharp-vs.csproj
Hexpocalipse/Assembly-CSharp.csproj
Hexpocalipse/Assembly-UnityScript-firstpass-vs.unityproj
Hexpocalipse/Assembly-UnityScript-firstpass.unityproj
Hexpocalipse/Hexpocalipse-csharp.sln
Hexpocalipse/Hexpocalipse.sln
Hexpocalipse/Hexpocalipse.userprefs
Hexpocalipse/Assembly-UnityScript-vs.unityproj
Hexpocalipse/Assembly-UnityScript.unityproj
